In [15]:
from pybaseball import schedule_and_record
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [16]:
CLE_data_2014 = schedule_and_record(2014, 'CLE')
CLE_data_2015 = schedule_and_record(2015, 'CLE')
CLE_data_2016 = schedule_and_record(2016, 'CLE')

In [18]:
CHC_data_2014 = schedule_and_record(2014, 'CHC')
CHC_data_2015 = schedule_and_record(2015, 'CHC')
CHC_data_2016 = schedule_and_record(2016, 'CHC')

In [21]:
CLE_data_2014

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled
1,"Monday, Mar 31",CLE,@,OAK,W,2.0,0.0,9.0,1-0,1.0,Tied,Allen,Johnson,Axford,3:15,N,36067.0,1,None
2,"Wednesday, Apr 2 (1)",CLE,@,OAK,L,1.0,6.0,9.0,1-1,3.0,0.5,Kazmir,Kluber,None,3:05,D,15134.0,-1,2014-04-01 (Rain)
3,"Wednesday, Apr 2 (2)",CLE,@,OAK,W,6.0,4.0,9.0,2-1,3.0,0.5,Allen,Johnson,Axford,3:33,N,12198.0,1,None
4,"Friday, Apr 4",CLE,Home,MIN,W,7.0,2.0,9.0,3-1,2.0,0.5,Outman,Pelfrey,None,3:01,N,41274.0,2,None
5,"Saturday, Apr 5",CLE,Home,MIN,L,3.0,7.0,9.0,3-2,2.0,1.5,Gibson,Carrasco,None,2:50,D,14153.0,-1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,"Tuesday, Sep 23",CLE,Home,KCR,L,1.0,7.0,9.0,82-76,3.0,5.5,Ventura,Salazar,None,2:57,N,11735.0,-2,None
159,"Wednesday, Sep 24",CLE,Home,KCR,W,6.0,4.0,9.0,83-76,3.0,5.5,McAllister,Finnegan,Allen,3:29,N,13796.0,1,None
160,"Friday, Sep 26",CLE,Home,TBR,W,1.0,0.0,9.0,84-76,3.0,5.0,Kluber,Archer,Allen,2:33,N,23131.0,2,None
161,"Saturday, Sep 27",CLE,Home,TBR,L,0.0,2.0,9.0,84-77,3.0,5.0,Colome,Carrasco,McGee,2:55,N,33025.0,-1,None
162,"Sunday, Sep 28",CLE,Home,TBR,W,7.0,2.0,9.0,85-77,3.0,5.0,House,Cobb,None,2:28,D,21400.0,1,None

In [20]:
CHC_data_2014

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled
1,"Monday, Mar 31",CHC,@,PIT,L-wo,0.0,1.0,10.0,0-1,4.0,1.0,Morris,Villanueva,None,3:16,D,39833.0,-1,None
2,"Wednesday, Apr 2",CHC,@,PIT,L-wo,3.0,4.0,16.0,0-2,5.0,2.0,Pimentel,Villanueva,None,5:55,N,29762.0,-2,None
3,"Thursday, Apr 3",CHC,@,PIT,W,3.0,2.0,9.0,1-2,3.0,1.0,Hammel,Rodriguez,Strop,2:39,D,11418.0,1,None
4,"Friday, Apr 4",CHC,Home,PHI,L,2.0,7.0,9.0,1-3,4.0,2.0,Hernandez,Wood,None,3:16,D,38283.0,-1,None
5,"Saturday, Apr 5",CHC,Home,PHI,L,0.0,2.0,9.0,1-4,4.0,2.0,Lee,Samardzija,Papelbon,2:53,D,30651.0,-2,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,"Tuesday, Sep 23",CHC,Home,STL,W-wo,4.0,3.0,10.0,70-88,5.0,18.0,Rosscup,Neshek,None,3:11,N,29754.0,1,None
159,"Wednesday, Sep 24",CHC,Home,STL,W,3.0,1.0,9.0,71-88,5.0,17.0,Arrieta,Lackey,Rondon,2:41,N,33292.0,2,None
160,"Friday, Sep 26",CHC,@,MIL,W,6.0,4.0,9.0,72-88,5.0,17.0,Ramirez,Nelson,Rondon,3:34,N,39880.0,3,None
161,"Saturday, Sep 27",CHC,@,MIL,L,1.0,2.0,9.0,72-89,5.0,17.0,Peralta,Wada,Rodriguez,3:10,N,41440.0,-1,None
162,"Sunday, Sep 28",CHC,@,MIL,W,5.0,2.0,9.0,73-89,5.0,17.0,Turner,Fiers,Rondon,3:09,D,33837.0,1,None

,index,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,444,SL,2016-05-01,88.4,-2.9596,6.3878,Blake Treinen,545341.0,595014.0,field_out,...,1.0,6.0,1.0,6.0,6.0,1.0,1.0,6.0,Standard,Standard
1,455,SI,2016-05-01,97.9,-2.7073,6.4099,Blake Treinen,545341.0,595014.0,NaN,...,1.0,6.0,1.0,6.0,6.0,1.0,1.0,6.0,Standard,Standard
2,467,SI,2016-05-01,97.7,-2.5522,6.3051,Blake Treinen,545341.0,595014.0,NaN,...,1.0,6.0,1.0,6.0,6.0,1.0,1.0,6.0,Standard,Standard
3,479,SI,2016-05-01,92.8,-2.8154,6.3742,Blake Treinen,571431.0,595014.0,single,...,1.0,6.0,1.0,6.0,6.0,1.0,1.0,6.0,Infield shift,Standard
4,491,SI,2016-05-01,98.6,-2.9162,6.1210,Blake Treinen,571431.0,595014.0,NaN,...,1.0,6.0,1.0,6.0,6.0,1.0,1.0,6.0,Infield shift,Standard

In [7]:
cubs_df = schedule_and_record(2016, 'CHC')
cleveland_df = schedule_and_record(2016, 'CLE')