In [1]:
import pandas as pd
import datetime as dt
import random as rd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
elo_df = pd.read_csv(r'data\elo_data_set.csv', parse_dates=[0])
elo_df.head()
teams = []
for i in elo_df['team'].unique(): #constructs list of team names
    teams.append(i)

In [3]:
# separates out played games, and the upcoming week.
history_df = elo_df[elo_df['datetime'] < dt.datetime.today()]
future_df = elo_df[elo_df['datetime'] > dt.datetime.today()]
upcoming_week = history_df['week'].iloc[-1] + 1
future_df = future_df[future_df['week'] == upcoming_week]
future_df = future_df[['datetime', 'team', 'opp', 'team_score', 'opp_score', 'team_elo_before', 'opp_elo_before', 'W/L']]
print(f'Week to predict : {upcoming_week}')

Week to predict : 8

In [4]:
# Games to be predicted
future_df

,datetime,team,opp,team_score,opp_score,team_elo_before,opp_elo_before,W/L
4911,2020-10-29 20:20:00,CAR,ATL,NaN,NaN,1420.351117,1451.007231,NaN
4912,2020-11-01 13:00:00,MIA,LAR,NaN,NaN,1434.532342,1603.925264,NaN
4913,2020-11-01 13:00:00,BAL,PIT,NaN,NaN,1685.266570,1629.930316,NaN
4914,2020-11-01 13:00:00,CIN,TEN,NaN,NaN,1282.024705,1616.337140,NaN
4915,2020-11-01 13:00:00,CLE,LVR,NaN,NaN,1424.263489,1447.441514,NaN
4916,2020-11-01 13:00:00,BUF,NWE,NaN,NaN,1537.921187,1610.302984,NaN
4917,2020-11-01 13:00:00,KAN,NYJ,NaN,NaN,1743.292439,1318.121744,NaN
4918,2020-11-01 13:00:00,GNB,MIN,NaN,NaN,1644.620252,1515.378678,NaN
4919,2020-11-01 13:00:00,DET,IND,NaN,NaN,1400.851537,1487.687626,NaN
4920,2020-11-01 16:05:00,DEN,LAC,NaN,NaN,1456.027121,1427.976243,NaN
4921,2020-11-01 16:25:00,SEA,SFO,NaN,NaN,1641.543490,1581.481010,NaN
4922,2020-11-01 16:25:00,CHI,NOR,NaN,NaN,1550.701255,1659.672491,NaN
4923,2020-11-01 20:20:00,PHI,DAL,NaN,NaN,1530.037033,1469.126836,NaN
4924,2020-11-02 20:15:00,NYG,TAM,NaN,NaN,1314.261501,1502.981311,NaN

In [5]:
chi_df = history_df[(history_df['team'] == 'CHI') | (history_df['opp'] == 'CHI')]
chi_df = chi_df[['datetime', 'team', 'opp', 'team_score', 'opp_score', 'team_elo_before', 'opp_elo_before', 'W/L']]
chi_df.head()

,datetime,team,opp,team_score,opp_score,team_elo_before,opp_elo_before,W/L
2,2002-09-08 13:04:00,CHI,MIN,27.0,23.0,1500.000000,1500.000000,1.0
24,2002-09-15 13:04:00,ATL,CHI,13.0,14.0,1482.500000,1517.500000,0.0
38,2002-09-22 13:05:00,CHI,NOR,23.0,29.0,1533.243023,1535.000000,0.0
53,2002-09-29 13:04:00,BUF,CHI,33.0,27.0,1484.256977,1515.831519,1.0
73,2002-10-07 21:08:00,CHI,GNB,21.0,34.0,1496.745503,1534.913890,0.0