In [1]:
import datetime as dt
import pandas as pd

In [2]:
# identifier for each team on pro-football-reference
teams = ['crd', 'atl', 'rav', 'buf', 
         'car', 'chi', 'cin', 'cle', 
         'dal', 'den', 'det', 'gnb', 
         'htx', 'clt', 'jax', 'kan', 
         'sdg', 'ram', 'mia', 'min', 
         'nwe', 'nor', 'nyg', 'nyj', 
         'rai', 'phi', 'pit', 'sfo', 
         'sea', 'tam', 'oti', 'was']
print(len(teams))

32

In [3]:
# year range starts in 2002 because the houston texans didn't exist in a prior form, Causing it to kick an error later in the program.
current_season = dt.date.today().year
year_range = range(2002, current_season)
num_seasons = (year_range[-1] - year_range[0] + 1)
year_dict = {}

In [4]:
%%time
# general data ingestion for every year, every team
# iterates through pro-football-reference's website, pulling the table out of the html on each page.
# note that it doesn't pull in the current season's information. That will happen in the next stage after generating historical ELOs

progress_counter = 1
for year in year_range:
    temp_dict={}
    for team in teams:
        url = f'https://www.pro-football-reference.com/teams/{team}/{year}.htm'
        data = pd.read_html(url, header=1)
        temp_dict[team] = data[1]
        temp_dict[team]['year'] = year # attaches what year the data is from
        temp_dict[team]['team'] = team # attaches what team
    print(f'{year} | {progress_counter} / {num_seasons} COMPLETE')
    progress_counter += 1
    print('-------------')
    year_dict[year] = temp_dict

2002 | 1 / 18 COMPLETE
-------------
2003 | 2 / 18 COMPLETE
-------------
2004 | 3 / 18 COMPLETE
-------------
2005 | 4 / 18 COMPLETE
-------------
2006 | 5 / 18 COMPLETE
-------------
2007 | 6 / 18 COMPLETE
-------------
2008 | 7 / 18 COMPLETE
-------------
2009 | 8 / 18 COMPLETE
-------------
2010 | 9 / 18 COMPLETE
-------------
2011 | 10 / 18 COMPLETE
-------------
2012 | 11 / 18 COMPLETE
-------------
2013 | 12 / 18 COMPLETE
-------------
2014 | 13 / 18 COMPLETE
-------------
2015 | 14 / 18 COMPLETE
-------------
2016 | 15 / 18 COMPLETE
-------------
2017 | 16 / 18 COMPLETE
-------------
2018 | 17 / 18 COMPLETE
-------------
2019 | 18 / 18 COMPLETE
-------------
Wall time: 21min 48s

In [5]:
# testing that I can access the dataframe as expected
year_dict[2002]['chi'].head()

,Week,Day,Date,Unnamed: 3,Unnamed: 4,Unnamed: 5,OT,Rec,Unnamed: 8,Opp,...,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,year,team
0,1,Sun,September 8,1:04PM ET,boxscore,W,NaN,1-0,NaN,Minnesota Vikings,...,19.0,368.0,228.0,140.0,3.0,6.37,-1.20,1.01,2002,chi
1,2,Sun,September 15,1:04PM ET,boxscore,W,NaN,2-0,@,Atlanta Falcons,...,19.0,257.0,135.0,122.0,3.0,-9.67,8.39,3.54,2002,chi
2,3,Sun,September 22,1:05PM ET,boxscore,L,NaN,2-1,NaN,New Orleans Saints,...,18.0,302.0,229.0,73.0,3.0,0.58,-0.64,-6.03,2002,chi
3,4,Sun,September 29,1:04PM ET,boxscore,L,OT,2-2,@,Buffalo Bills,...,26.0,410.0,307.0,103.0,1.0,3.14,-7.40,0.06,2002,chi
4,5,Mon,October 7,9:08PM ET,boxscore,L,NaN,2-3,NaN,Green Bay Packers,...,20.0,457.0,333.0,124.0,1.0,-12.87,-3.38,8.55,2002,chi

In [6]:
# Dictionaries for cleaning up data

# column cleaning dictionary
column_clean_dict =  {
     'Day': 'day_week',
     'Date' : 'date',
     'Week' : 'week',
     'Unnamed: 3':'kickoff_time',
     'Opp' : 'opp',
     'OT' : 'ot',
     'Rec' : 'record',
     'Unnamed: 5': 'W/L',
     'Unnamed: 8' : 'home/away',
     'Tm' : 'team_score',
     'Opp.1' : 'opp_score',
     '1stD' : '1D_gained',
     'TotYd' : 'team_total_yards',
     'PassY' : 'team_pass_yards',
     'RushY' : 'team_rush_yards',
     'TO' : 'team_turnover',
     '1stD.1' : '1D_allowed',
     'TotYd.1' : 'opp_total_yards',
     'PassY.1' : 'opp_pass_yards',
     'RushY.1' : 'opp_rush_yards',
     'TO.1' : 'opp_turnover',
     'Offense' : 'offense_expected_points',
     'Defense' : 'defense_expected_points',
     'Sp. Tms' : 'sp_expected_points'
    }

# Column Order
column_ord = ['team', 'year', 'opp', 'dt_date', 
              'datetime', 'day_week',
              'W/L', 'ot', 'record', 'home/away', 
              'team_score', 'opp_score', '1D_gained', 'team_total_yards',
              'team_pass_yards', 'team_rush_yards', 'team_turnover', '1D_allowed',
              'opp_total_yards','opp_pass_yards', 'opp_rush_yards', 'opp_turnover',
              'offense_expected_points', 'defense_expected_points', 'sp_expected_points']

# dictionary for mapping month into form for datetime transformation
month_dict = {
    'September' : 9,
    'October' : 10,
    'November' : 11,
    'December' : 12,
    'January' : 1,
    'February': 2
    }

# dictionary to turn team id to standard three letter
acro_dict = {
    'crd' : 'ARI', 'atl' : 'ATL','rav' : 'BAL','buf' : 'BUF', 
    'car' : 'CAR', 'chi' : 'CHI', 'cin' : 'CIN', 'cle' : 'CLE', 
    'dal' : 'DAL', 'den' : 'DEN', 'det' : 'DET', 'gnb' : 'GNB', 
    'htx' : 'HOU', 'clt' : 'IND', 'jax' : 'JAX', 'kan' : 'KAN', 
    'sdg' : 'LAC', 'ram' : 'LAR', 'mia' : 'MIA', 'min' : 'MIN', 
    'nwe' : 'NWE', 'nor' : 'NOR', 'nyg' : 'NYG', 'nyj' : 'NYJ', 
    'rai' : 'LVR', 'phi' : 'PHI', 'pit' : 'PIT', 'sfo' : 'SFO', 
    'sea' : 'SEA', 'tam' : 'TAM', 'oti' : 'TEN', 'was' : 'WAS'
    }

# dictionary to edit 'opp' column
# the reason this one is a little longer is due to some teams changing cities, leading to the opp column to record their full name at the time.
opp_dict = {
    'Arizona Cardinals' : 'ARI', 'Atlanta Falcons' : 'ATL',
    'Baltimore Ravens' : 'BAL','Buffalo Bills' : 'BUF', 
    'Carolina Panthers' : 'CAR', 'Chicago Bears' : 'CHI', 
    'Cincinnati Bengals' : 'CIN', 'Cleveland Browns' : 'CLE', 
    'Dallas Cowboys' : 'DAL', 'Denver Broncos' : 'DEN', 
    'Detroit Lions' : 'DET', 'Green Bay Packers' : 'GNB', 
    'Houston Texans' : 'HOU', 'Indianapolis Colts' : 'IND', 
    'Jacksonville Jaguars' : 'JAX', 'Kansas City Chiefs' : 'KAN', 
    'Los Angeles Chargers' : 'LAC', 'San Diego Chargers' : 'LAC',
    'Los Angeles Rams' : 'LAR', 'St. Louis Rams': 'LAR',
    'Miami Dolphins' : 'MIA', 'Minnesota Vikings' : 'MIN', 
    'New England Patriots' : 'NWE', 'New Orleans Saints' : 'NOR', 
    'New York Giants' : 'NYG', 'New York Jets' : 'NYJ', 
    'Las Vegas Raiders' : 'LVR', 'Oakland Raiders' : 'LVR',
    'Philadelphia Eagles' : 'PHI', 
    'Pittsburgh Steelers' : 'PIT', 'San Francisco 49ers' : 'SFO', 
    'Seattle Seahawks' : 'SEA', 'Tampa Bay Buccaneers' : 'TAM', 
    'Tennessee Titans' : 'TEN', 'Washington Redskins' : 'WAS'
    }

In [7]:


# Data processing

for year in year_dict:
    for team in year_dict[year]:
        iter_df = year_dict[year][team] # current iteration of the dataframe for season-team
        
        iter_df.rename(column_clean_dict, inplace=True, axis=1) # renames columns
        iter_df.drop('Unnamed: 4', axis=1, inplace=True) # drops an unused column
        
        iter_df.drop(iter_df[iter_df['week'] == 'Playoffs'].index, inplace=True, axis=0) # drops blank row separating playoffs from regular season
        iter_df.drop(iter_df[iter_df['opp'] == 'Bye Week'].index, inplace=True, axis=0) # drops bye weeks, will replace in future.
        iter_df.drop(iter_df[iter_df['date']== 'Playoffs'].index, inplace=True, axis=0) # some rows have playoff marker in date
        
        iter_df['opp'].replace(opp_dict, inplace = True)
        iter_df['team'].replace(acro_dict, inplace = True)
        
        iter_df['week'].fillna(value=0, inplace=True)
        iter_df['week'] = iter_df['week'].astype(str)
        iter_df['week'].replace({'Wild Card': 18, 'Division': 19, 'Conf. Champ.': 20, 'SuperBowl': 21}, inplace=True) # replaces str in 'Week' with playoff jgames like extension of regular season
        iter_df['week'] = iter_df['week'].astype(int) # turns back to int
        
        
        iter_df['ot'].fillna(value= 0, inplace=True) # replaces NaNs in the overtime column with 0
        iter_df['ot'] = iter_df['ot'].astype(str)
        iter_df['ot'].replace({'OT': 1}, inplace=True) # replaces 'OT' with 1 to signal overtime happened
        
        iter_df['W/L'].replace({'W' : 1, 'L': 0, 'T': 2}, inplace=True) # sets wins, losses, ties to numbers
        
        iter_df['home/away'].fillna(value='HOME', inplace=True) # fills in 'HOME' for home game
        iter_df['home/away'].replace({'@': 'AWAY', 'N':'NEUTRAL'}, inplace=True) # fills in 'AWAY' for away game
        
        
        
        iter_df['team_turnover'].fillna(value=0, inplace=True) # fills 0s in for NaNs
        iter_df['opp_turnover'].fillna(value=0, inplace=True) # fills 0s in for Nans
        
        iter_df['kickoff_time'].fillna(value='0', inplace=True)
        kick_time = []
        kick_split = []
        for i in iter_df['kickoff_time']:
            kick_time.append(i)
        for i in kick_time:
            kick_split.append(pd.to_datetime(i.split()[0]))
        iter_df['kickoff_time'] = kick_split
            
        
        month_list = []
        month_split = []
        for i in iter_df['date']:
            month_list.append(i)
        for i in month_list:
            month_split.append(i.split()[0])
        iter_df['month'] = month_split
        iter_df['month'].replace(month_dict, inplace=True)

        day_split = []
        for i in month_list:
            day_split.append(i.split()[1])
        iter_df['day'] = day_split
        iter_df['day'] = iter_df['day'].astype(int)
        
        year_list = []
        month_list = []
        day_list = []
        datetime_list = []

        for i in iter_df['year']:
            year_list.append(i)
        for i in iter_df['month']:
            month_list.append(i)
        for i in iter_df['day']:
            day_list.append(i)

        counter = 0
        for i in iter_df['year']:
            datetime_list.append(dt.datetime(year_list[counter], month_list[counter], day_list[counter]))
            counter += 1
        iter_df['dt_date'] = datetime_list
        
        #Creates datetime column
        counter = 0
        dt_list = []
        for i in iter_df['dt_date']:
            dt_list.append(dt.datetime.combine(datetime_list[counter], kick_split[counter].time()))
            counter += 1
        iter_df['datetime'] = dt_list
        
        
year_dict[2006]['chi'].head()

C:\Users\fitzp\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,week,day_week,date,kickoff_time,W/L,ot,record,home/away,opp,team_score,...,opp_turnover,offense_expected_points,defense_expected_points,sp_expected_points,year,team,month,day,dt_date,datetime
0,1,Sun,September 10,2020-10-23 16:15:00,1,0,1-0,AWAY,GNB,26.0,...,3.0,0.02,12.18,11.20,2006,CHI,9,10,2006-09-10,2006-09-10 16:15:00
1,2,Sun,September 17,2020-10-23 13:03:00,1,0,2-0,HOME,DET,34.0,...,3.0,12.53,10.87,4.21,2006,CHI,9,17,2006-09-17,2006-09-17 13:03:00
2,3,Sun,September 24,2020-10-23 13:05:00,1,0,3-0,AWAY,MIN,19.0,...,2.0,-8.81,11.64,1.04,2006,CHI,9,24,2006-09-24,2006-09-24 13:05:00
3,4,Sun,October 1,2020-10-23 20:21:00,1,0,4-0,HOME,SEA,37.0,...,2.0,12.91,20.11,0.75,2006,CHI,10,1,2006-10-01,2006-10-01 20:21:00
4,5,Sun,October 8,2020-10-23 13:03:00,1,0,5-0,HOME,BUF,40.0,...,5.0,9.21,24.13,-0.82,2006,CHI,10,8,2006-10-08,2006-10-08 13:03:00

In [8]:
iter_df.head()

,week,day_week,date,kickoff_time,W/L,ot,record,home/away,opp,team_score,...,opp_turnover,offense_expected_points,defense_expected_points,sp_expected_points,year,team,month,day,dt_date,datetime
0,1,Sun,September 8,2020-10-23 13:00:00,0,0,0-1,AWAY,PHI,27.0,...,0.0,12.08,-17.68,-0.64,2019,WAS,9,8,2019-09-08,2019-09-08 13:00:00
1,2,Sun,September 15,2020-10-23 13:00:00,0,0,0-2,HOME,DAL,21.0,...,1.0,7.06,-23.50,3.71,2019,WAS,9,15,2019-09-15,2019-09-15 13:00:00
2,3,Mon,September 23,2020-10-23 20:15:00,0,0,0-3,HOME,CHI,15.0,...,1.0,-11.86,-9.23,3.52,2019,WAS,9,23,2019-09-23,2019-09-23 20:15:00
3,4,Sun,September 29,2020-10-23 13:00:00,0,0,0-4,AWAY,NYG,3.0,...,4.0,-25.74,-0.43,4.64,2019,WAS,9,29,2019-09-29,2019-09-29 13:00:00
4,5,Sun,October 6,2020-10-23 13:00:00,0,0,0-5,HOME,NWE,7.0,...,1.0,-20.78,-9.23,6.54,2019,WAS,10,6,2019-10-06,2019-10-06 13:00:00

In [9]:
# exports each team's data as an individual sheet in case I want to come back and work with those on a focused level
for team in teams:
    full_team = pd.DataFrame()
    for year in year_dict:
        full_team = full_team.append(year_dict[year][team])
        full_team = full_team[column_ord]
        full_team = full_team.reset_index()
        full_team.drop('index', axis = 1, inplace = True)
        
    full_team.to_csv(r'data\idv_team_data\{}.csv'.format(acro_dict[team]))

In [10]:
# combines all data into a single frame
raw_data = pd.DataFrame()
for year in year_dict:
    for team in teams:
        raw_data = raw_data.append(year_dict[year][team])
        raw_data = raw_data[column_ord]
        raw_data = raw_data.reset_index()
        raw_data.drop('index', axis = 1, inplace = True)
        
raw_data.to_csv(r'data\raw_data_set.csv')
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9612 entries, 0 to 9611
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   team                     9612 non-null   object
 1   year                     9612 non-null   int64
 2   opp                      9612 non-null   object
 3   dt_date                  9612 non-null   datetime64[ns]
 4   datetime                 9612 non-null   datetime64[ns]
 5   day_week                 9612 non-null   object
 6   W/L                      9612 non-null   int64
 7   ot                       9612 non-null   object
 8   record                   9612 non-null   object
 9   home/away                9612 non-null   object
 10  team_score               9612 non-null   float64
 11  opp_score                9612 non-null   float64
 12  1D_gained                9612 non-null   float64
 13  team_total_yards         9612 non-null   float64
 14  team_pass_yards          9610 non-null   float64
 15  team_rush_yards          9612 non-null   float64
 16  team_turnover            9612 non-null   float64
 17  1D_allowed               9612 non-null   float64
 18  opp_total_yards          9612 non-null   float64
 19  opp_pass_yards           9610 non-null   float64
 20  opp_rush_yards           9612 non-null   float64
 21  opp_turnover             9612 non-null   float64
 22  offense_expected_points  9612 non-null   float64
 23  defense_expected_points  9612 non-null   float64
 24  sp_expected_points       9612 non-null   float64
dtypes: datetime64[ns](2), float64(15), int64(2), object(6)
memory usage: 1.8+ MB

In [11]:
# problem to be fixed
raw_data[raw_data['opp_pass_yards'].isnull()]

,team,year,opp,dt_date,datetime,day_week,W/L,ot,record,home/away,...,team_rush_yards,team_turnover,1D_allowed,opp_total_yards,opp_pass_yards,opp_rush_yards,opp_turnover,offense_expected_points,defense_expected_points,sp_expected_points
818,LAC,2003,LVR,2003-12-28,2003-12-28 16:15:00,Sun,1,0,4-12,HOME,...,263.0,0.0,9.0,141.0,NaN,141.0,1.0,1.64,25.91,-16.75
4139,NYJ,2009,CIN,2009-01-03,2009-01-03 20:31:00,Sun,1,0,9-7,HOME,...,257.0,0.0,5.0,72.0,NaN,72.0,3.0,10.82,33.61,-6.11

In [12]:
raw_data[raw_data['team_pass_yards'].isnull()]

,team,year,opp,dt_date,datetime,day_week,W/L,ot,record,home/away,...,team_rush_yards,team_turnover,1D_allowed,opp_total_yards,opp_pass_yards,opp_rush_yards,opp_turnover,offense_expected_points,defense_expected_points,sp_expected_points
950,LVR,2003,LAC,2003-12-28,2003-12-28 16:15:00,Sun,0,0,4-12,AWAY,...,141.0,1.0,20.0,337.0,74.0,263.0,0.0,-25.91,-1.64,16.75
3853,CIN,2009,NYJ,2009-01-03,2009-01-03 20:31:00,Sun,0,0,10-6,AWAY,...,72.0,3.0,21.0,320.0,63.0,257.0,0.0,-33.61,-10.82,6.11

In [13]:
# problem to be fixed
raw_data[raw_data['home/away']=='NEUTRAL'].head()

,team,year,opp,dt_date,datetime,day_week,W/L,ot,record,home/away,...,team_rush_yards,team_turnover,1D_allowed,opp_total_yards,opp_pass_yards,opp_rush_yards,opp_turnover,offense_expected_points,defense_expected_points,sp_expected_points
410,LVR,2002,TAM,2002-01-26,2002-01-26 18:26:00,Sun,0,0,13-6,NEUTRAL,...,19.0,5.0,24.0,365.0,215.0,150.0,1.0,-36.42,-4.38,9.42
499,TAM,2002,LVR,2002-01-26,2002-01-26 18:26:00,Sun,1,0,15-4,NEUTRAL,...,150.0,1.0,11.0,269.0,250.0,19.0,5.0,4.38,36.42,-9.42
618,CAR,2003,NWE,2003-02-01,2003-02-01 18:25:00,Sun,0,0,14-6,NEUTRAL,...,92.0,1.0,29.0,481.0,354.0,127.0,1.0,6.11,-17.23,7.78
886,NWE,2003,CAR,2003-02-01,2003-02-01 18:25:00,Sun,1,0,17-2,NEUTRAL,...,127.0,1.0,17.0,387.0,295.0,92.0,1.0,17.23,-6.11,-7.78
1417,NWE,2004,PHI,2004-02-06,2004-02-06 18:38:00,Sun,1,0.0,17-2,NEUTRAL,...,112.0,1.0,24.0,369.0,324.0,45.0,4.0,2.42,-2.04,2.93

In [14]:
raw_data.head()

,team,year,opp,dt_date,datetime,day_week,W/L,ot,record,home/away,...,team_rush_yards,team_turnover,1D_allowed,opp_total_yards,opp_pass_yards,opp_rush_yards,opp_turnover,offense_expected_points,defense_expected_points,sp_expected_points
0,ARI,2002,WAS,2002-09-08,2002-09-08 13:05:00,Sun,0,0,0-1,AWAY,...,70.0,1.0,21.0,442.0,320.0,122.0,1.0,-4.97,-7.61,2.59
1,ARI,2002,SEA,2002-09-15,2002-09-15 16:05:00,Sun,1,0,1-1,AWAY,...,249.0,1.0,26.0,426.0,345.0,81.0,1.0,3.29,6.43,-1.44
2,ARI,2002,LAC,2002-09-22,2002-09-22 16:05:00,Sun,0,0,1-2,HOME,...,97.0,3.0,19.0,289.0,164.0,125.0,1.0,-9.41,2.10,0.09
3,ARI,2002,NYG,2002-09-29,2002-09-29 16:04:00,Sun,1,0,2-2,HOME,...,102.0,1.0,14.0,263.0,196.0,67.0,3.0,-0.97,21.35,-6.43
4,ARI,2002,CAR,2002-10-06,2002-10-06 13:02:00,Sun,1,0,3-2,AWAY,...,91.0,1.0,12.0,244.0,186.0,58.0,4.0,-10.40,16.43,-3.75