In [1]:
import datetime as dt
import pandas as pd

In [2]:
# identifier for each team on pro-football-reference
teams = ['crd', # cardinals
         'atl', # falcons
         'rav', # ravens
         'buf', # bills
         'car', # panthers
         'chi', # bears
         'cin', # bengals
         'cle', # browns
         'dal', # cowboys
         'den', # denver
         'det', # lions
         'gnb', # packers
         'htx', # texans
         'clt', # colts
         'jax', # jaguars
         'kan', # chiefs
         'sdg', # chargers
         'ram', # rams
         'mia', # dolphins
         'min', # vikings
         'nwe', # patriots
         'nor', # saints
         'nyg', # giants
         'nyj', # jets
         'rai', # raiders
         'phi', # eagles
         'pit', # steelers
         'sfo', # 49ers
         'sea', # seahawks
         'tam', # buccs
         'oti', # titans
         'was' # football team
        ]
len(teams)

32

In [3]:
# year range starts in 2002 because the houston texans didn't exist in a prior form, Causing it to kick an error later in the program.
current_season = dt.date.today().year
year_range = range(2002, current_season)
year_dict = {}

In [4]:
%%time
# general data ingestion for every year, every team

for year in year_range:
    temp_dict={}
    for team in teams:
        url = f'https://www.pro-football-reference.com/teams/{team}/{year}.htm'
        data = pd.read_html(url, header=1)
        temp_dict[team] = data[1]
        temp_dict[team]['year'] = year
        temp_dict[team]['team'] = team
    print(f'{year} complete')
    print('-------------')
    year_dict[year] = temp_dict

2002 complete
-------------
2003 complete
-------------
2004 complete
-------------
2005 complete
-------------
2006 complete
-------------
2007 complete
-------------
2008 complete
-------------
2009 complete
-------------
2010 complete
-------------
2011 complete
-------------
2012 complete
-------------
2013 complete
-------------
2014 complete
-------------
2015 complete
-------------
2016 complete
-------------
2017 complete
-------------
2018 complete
-------------
2019 complete
-------------
Wall time: 3min 32s

In [5]:
# testing that I can access the dataframe
year_dict[2002]['chi']

,Week,Day,Date,Unnamed: 3,Unnamed: 4,Unnamed: 5,OT,Rec,Unnamed: 8,Opp,...,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms,year,team
0,1,Sun,September 8,1:04PM ET,boxscore,W,NaN,1-0,NaN,Minnesota Vikings,...,19.0,368.0,228.0,140.0,3.0,6.37,-1.20,1.01,2002,chi
1,2,Sun,September 15,1:04PM ET,boxscore,W,NaN,2-0,@,Atlanta Falcons,...,19.0,257.0,135.0,122.0,3.0,-9.67,8.39,3.54,2002,chi
2,3,Sun,September 22,1:05PM ET,boxscore,L,NaN,2-1,NaN,New Orleans Saints,...,18.0,302.0,229.0,73.0,3.0,0.58,-0.64,-6.03,2002,chi
3,4,Sun,September 29,1:04PM ET,boxscore,L,OT,2-2,@,Buffalo Bills,...,26.0,410.0,307.0,103.0,1.0,3.14,-7.40,0.06,2002,chi
4,5,Mon,October 7,9:08PM ET,boxscore,L,NaN,2-3,NaN,Green Bay Packers,...,20.0,457.0,333.0,124.0,1.0,-12.87,-3.38,8.55,2002,chi
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bye Week,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,chi
6,7,Sun,October 20,1:03PM ET,boxscore,L,OT,2-4,@,Detroit Lions,...,23.0,362.0,170.0,192.0,1.0,-16.57,-1.40,13.03,2002,chi
7,8,Sun,October 27,1:00PM ET,boxscore,L,NaN,2-5,@,Minnesota Vikings,...,24.0,364.0,216.0,148.0,1.0,-16.75,-6.35,1.32,2002,chi
8,9,Sun,November 3,1:05PM ET,boxscore,L,NaN,2-6,NaN,Philadelphia Eagles,...,23.0,309.0,192.0,117.0,1.0,-8.98,1.96,0.70,2002,chi
9,10,Sun,November 10,4:15PM ET,boxscore,L,NaN,2-7,NaN,New England Patriots,...,19.0,397.0,315.0,82.0,2.0,-6.40,2.32,2.19,2002,chi
10,11,Mon,November 18,9:07PM ET,boxscore,L,NaN,2-8,@,St. Louis Rams,...,21.0,388.0,327.0,61.0,2.0,-8.46,-9.16,11.45,2002,chi
11,12,Sun,November 24,1:03PM ET,boxscore,W,OT,3-8,NaN,Detroit Lions,...,19.0,301.0,199.0,102.0,2.0,-2.89,4.45,0.11,2002,chi
12,13,Sun,December 1,1:02PM ET,boxscore,L,NaN,3-9,@,Green Bay Packers,...,26.0,396.0,215.0,181.0,2.0,-5.34,-4.89,-2.81,2002,chi
13,14,Mon,December 9,9:09PM ET,boxscore,L,NaN,3-10,@,Miami Dolphins,...,22.0,436.0,188.0,248.0,3.0,-32.74,2.31,7.21,2002,chi
14,15,Sun,December 15,1:05PM ET,boxscore,W,NaN,4-10,NaN,New York Jets,...,19.0,334.0,200.0,134.0,1.0,4.38,-4.25,5.22,2002,chi
15,16,Sun,December 22,1:02PM ET,boxscore,L,NaN,4-11,@,Carolina Panthers,...,15.0,253.0,165.0,88.0,2.0,-26.17,19.80,-3.44,2002,chi
16,17,Sun,December 29,8:36PM ET,boxscore,L,NaN,4-12,NaN,Tampa Bay Buccaneers,...,15.0,272.0,111.0,161.0,NaN,-19.07,5.63,3.35,2002,chi

In [6]:
# column cleaning dictionary
column_clean_dict =  {
     'Day': 'Day_Week',
     'Unnamed: 3':'Kickoff_Time',
     'Unnamed: 5': 'W/L',
     'Unnamed: 8' : 'Home/Away',
     'Tm' : 'Team_Score',
     'Opp.1' : 'Oppo_score',
     '1stD' : '1D_gained',
     'TotYd' : 'Team_Total_Yards',
     'PassY' : 'Team_Pass_Yards',
     'RushY' : 'Team_Rush_Yards',
     'TO' : 'team_turnover',
     '1stD.1' : '1D_allowed',
     'TotYd.1' : 'oppo_total_yards',
     'PassY.1' : 'oppo_pass_yards',
     'RushY.1' : 'oppo_rush_yards',
     'TO.1' : 'oppo_turnover',
     'Offense' : 'offense_expected_points',
     'Defense' : 'defense_expected_points',
     'Sp. Tms' : 'sp_expected_points'
    }

# dictionary for mapping month into form for datetime transformation
month_dict = {
    'September' : 9,
    'October' : 10,
    'November' : 11,
    'December' : 12,
    'January' : 1,
    'February': 2
}

In [7]:

# cleans and standardizes each dataframe, adds datetime column
for year in year_dict:
    for team in year_dict[year]:
        iter_df = year_dict[year][team] #for my sanity.
        
        iter_df.rename(column_clean_dict, inplace=True, axis=1) # renames columns
        iter_df.drop('Unnamed: 4', axis=1, inplace=True) # drops an unused column
        
        iter_df.drop(iter_df[iter_df['Week'] == 'Playoffs'].index, inplace=True, axis=0) # drops blank row separating playoffs from regular season
        iter_df.drop(iter_df[iter_df['Opp'] == 'Bye Week'].index, inplace=True, axis=0) # drops bye weeks, will replace in future.
        
        
        iter_df['OT'].fillna(value= 0, inplace=True) # replaces NaNs in the overtime column with 0
        iter_df['OT'] = iter_df['OT'].astype(str)
        iter_df['OT'].replace({'OT': 1}, inplace=True) # replaces 'OT' with 1 to signal overtime happened
        
        iter_df['W/L'].replace({'W' : 1, 'L': 0, 'T': 2}, inplace=True) # sets wins, losses, ties to numbers
        iter_df['Home/Away'].fillna(value='HOME', inplace=True) # fills in 'HOME' for home game
        iter_df['Home/Away'].replace({'@': 'AWAY'}, inplace=True) # fills in 'AWAY' for away game
        iter_df['Week'] = iter_df['Week'].astype(str)
        iter_df.dropna(inplace=True)
        iter_df['Week'].replace({'Wild Card': 18, 'Division': 19, 'Conf. Champ.': 20, 'SuperBowl': 21}, inplace=True) # replaces str in 'Week' with playoff jgames like extension of regular season
        iter_df['Week'] = iter_df['Week'].astype(int) # turns back to int
        iter_df['team_turnover'].fillna(value=0, inplace=True) # fills 0s in for NaNs
        iter_df['oppo_turnover'].fillna(value=0, inplace=True) # fills 0s in for Nans
        
        kick_time = []
        kick_split = []
        for i in iter_df['Kickoff_Time']:
            kick_time.append(i)
        for i in kick_time:
            kick_split.append(i.split()[0])
            
        
        month_list = []
        month_split = []
        for i in iter_df['Date']:
            month_list.append(i)
        for i in month_list:
            month_split.append(i.split()[0])
        iter_df['Month'] = month_split
        iter_df['Month'].replace(month_dict, inplace=True)

        day_split = []
        for i in month_list:
            day_split.append(i.split()[1])
        iter_df['Day'] = day_split
        iter_df['Day'] = iter_df['Day'].astype(int)
        
        year_list = []
        month_list = []
        day_list = []
        datetime_list = []

        for i in iter_df['year']:
            year_list.append(i)
        for i in iter_df['Month']:
            month_list.append(i)
        for i in iter_df['Day']:
            day_list.append(i)

        counter = 0
        for i in iter_df['year']:
            datetime_list.append(dt.datetime(year_list[counter], month_list[counter], day_list[counter]))
            counter += 1
        iter_df['dt_date'] = datetime_list
        
year_dict[2006]['chi'].dtypes

C:\Users\fitzp\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Week                                int32
Day_Week                           object
Date                               object
Kickoff_Time                       object
W/L                               float64
OT                                 object
Rec                                object
Home/Away                          object
Opp                                object
Team_Score                        float64
Oppo_score                        float64
1D_gained                         float64
Team_Total_Yards                  float64
Team_Pass_Yards                   float64
Team_Rush_Yards                   float64
team_turnover                     float64
1D_allowed                        float64
oppo_total_yards                  float64
oppo_pass_yards                   float64
oppo_rush_yards                   float64
oppo_turnover                     float64
offense_expected_points           float64
defense_expected_points           float64
sp_expected_points                float64
year                                int64
team                               object
Month                               int64
Day                                 int32
dt_date                    datetime64[ns]
dtype: object

In [8]:
year_dict[2006]['chi']

,Week,Day_Week,Date,Kickoff_Time,W/L,OT,Rec,Home/Away,Opp,Team_Score,...,oppo_rush_yards,oppo_turnover,offense_expected_points,defense_expected_points,sp_expected_points,year,team,Month,Day,dt_date
0,1,Sun,September 10,4:15PM ET,1.0,0,1-0,AWAY,Green Bay Packers,26.0,...,103.0,3.0,0.02,12.18,11.20,2006,chi,9,10,2006-09-10
1,2,Sun,September 17,1:03PM ET,1.0,0,2-0,HOME,Detroit Lions,34.0,...,46.0,3.0,12.53,10.87,4.21,2006,chi,9,17,2006-09-17
2,3,Sun,September 24,1:05PM ET,1.0,0,3-0,AWAY,Minnesota Vikings,19.0,...,97.0,2.0,-8.81,11.64,1.04,2006,chi,9,24,2006-09-24
4,5,Sun,October 8,1:03PM ET,1.0,0,5-0,HOME,Buffalo Bills,40.0,...,58.0,5.0,9.21,24.13,-0.82,2006,chi,10,8,2006-10-08
5,6,Mon,October 16,8:42PM ET,1.0,0,6-0,AWAY,Arizona Cardinals,24.0,...,66.0,2.0,-35.67,26.00,10.37,2006,chi,10,16,2006-10-16
8,9,Sun,November 5,1:02PM ET,0.0,0,7-1,HOME,Miami Dolphins,13.0,...,161.0,2.0,-24.19,3.26,1.87,2006,chi,11,5,2006-11-05
9,10,Sun,November 12,8:21PM ET,1.0,0,8-1,AWAY,New York Giants,38.0,...,150.0,3.0,-4.12,13.39,5.95,2006,chi,11,12,2006-11-12
11,12,Sun,November 26,4:15PM ET,0.0,0,9-2,AWAY,New England Patriots,13.0,...,85.0,5.0,-1.12,4.63,-6.79,2006,chi,11,26,2006-11-26
12,13,Sun,December 3,1:03PM ET,1.0,0,10-2,HOME,Minnesota Vikings,23.0,...,190.0,5.0,-20.34,25.70,2.99,2006,chi,12,3,2006-12-03
14,15,Sun,December 17,1:05PM ET,1.0,1,12-2,HOME,Tampa Bay Buccaneers,34.0,...,57.0,2.0,9.42,8.71,-15.69,2006,chi,12,17,2006-12-17
16,17,Sun,December 31,8:15PM ET,0.0,0,13-3,HOME,Green Bay Packers,7.0,...,97.0,1.0,-25.05,-1.51,5.25,2006,chi,12,31,2006-12-31
18,19,Sun,January 14,1:06PM ET,1.0,1,14-3,HOME,Seattle Seahawks,27.0,...,127.0,1.0,0.52,2.87,-0.69,2006,chi,1,14,2006-01-14
20,21,Sun,February 4,6:27PM ET,0.0,0,15-4,N,Indianapolis Colts,17.0,...,191.0,3.0,-23.57,3.78,10.43,2006,chi,2,4,2006-02-04

In [9]:
# exports each team's data as an individual sheet in case I want to come back and work with those on a focused level
for team in teams:
    full_team = pd.DataFrame()
    for year in year_dict:
        full_team = full_team.append(year_dict[year][team])
    full_team.to_excel(r'C:\Users\fitzp\Desktop\GitR\git_repos\personal_projects\Experimental Projects\nfl_model\data\{}.xlsx'.format(team), sheet_name = team)

In [10]:
# combines all data into a single frame
full_data = pd.DataFrame()
for year in year_dict:
    for team in teams:
        full_data = full_data.append(year_dict[year][team])
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5656 entries, 0 to 16
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Week                     5656 non-null   int32
 1   Day_Week                 5656 non-null   object
 2   Date                     5656 non-null   object
 3   Kickoff_Time             5656 non-null   object
 4   W/L                      5656 non-null   float64
 5   OT                       5656 non-null   object
 6   Rec                      5656 non-null   object
 7   Home/Away                5656 non-null   object
 8   Opp                      5656 non-null   object
 9   Team_Score               5656 non-null   float64
 10  Oppo_score               5656 non-null   float64
 11  1D_gained                5656 non-null   float64
 12  Team_Total_Yards         5656 non-null   float64
 13  Team_Pass_Yards          5656 non-null   float64
 14  Team_Rush_Yards          5656 non-null   float64
 15  team_turnover            5656 non-null   float64
 16  1D_allowed               5656 non-null   float64
 17  oppo_total_yards         5656 non-null   float64
 18  oppo_pass_yards          5656 non-null   float64
 19  oppo_rush_yards          5656 non-null   float64
 20  oppo_turnover            5656 non-null   float64
 21  offense_expected_points  5656 non-null   float64
 22  defense_expected_points  5656 non-null   float64
 23  sp_expected_points       5656 non-null   float64
 24  year                     5656 non-null   int64
 25  team                     5656 non-null   object
 26  Month                    5656 non-null   int64
 27  Day                      5656 non-null   int32
 28  dt_date                  5656 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int32(2), int64(2), object(8)
memory usage: 1.3+ MB

In [12]:
full_data.to_excel('full_data_set.xlsx', sheet_name = 'Full Data')